@import "tailwindcss";

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  scroll-behavior: smooth;
}

h1 {
    font-family: 'Orbitron', sans-serif;
}



/* Remove any default margins that might cause white space */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Custom animation for the gradient text */
@keyframes gradient-shift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-shift 3s ease infinite;
}



/* Custom shadow for better depth */
.custom-shadow {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.04);
}